logo-size = 50px

#logo-wrap
  absolute-center(logo-size)

#logo
  hide-text()
  width: logo-size
  height: logo-size
  display: block
  background-repeat: no-repeat
  background-size: logo-size
  background-image: url("images/logo.png")
  background-image: url("images/logo.svg"), none
  background-size: logo-size