<footer class="py-12 text-center">
  &copy; {{ moment().format('YYYY') }} {{ config.author }}<br>
  Powered by <a class="hover:text-accent hover:underline" href="https://hexo.io/" target="_blank" rel="noopener">Hexo</a>
</footer>
